Mako==0.5.0
MarkupSafe==0.15
Paste==1.7.5.1
PasteDeploy==1.5.0
PasteScript==1.7.5
PyYAML==3.10
distribute==0.6.24
gevent==1.0b2
greenlet==0.3.2
gunicorn==0.13.4
mercurial==2.0.1
virtualenv==1.7
web.py==0.36
hiredis==0.1.0
redis==2.4.11
Werkzeug==0.8.2
python-gevent-profiler==0.2
pool==0.1.1dev
-e git+git://github.com/CMGS/PyMySQL.git#egg=PyMySQL
-e git+git://github.com/CMGS/websocket-client.git#egg=websocket-client
